body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "SF Mono" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0a192f;
  color: rgba(255, 255, 255, 0.614);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

[data-nav-active="true"] span:nth-child(2) {
  visibility: hidden;
  transition: all 0.01s ease-in;
}

[data-nav-active="true"] > span {
  position: absolute;
  width: 32px;
  transition: all 0.35s ease-in;
}

[data-nav-active="true"] span:nth-child(1) {
  transform: rotate(45deg);
  transition: all 0.35s ease-in;
}

[data-nav-active="true"] span:nth-child(3) {
  transform: rotate(130deg);
  transition: all 5sec ease-in;
}

[data-nav-active="false"] > span {
  transition: all 0.1s ease-in;
}

.my-underline {
  border-bottom: 1.5px solid #b275e6;
}

.about-me::before {
  content: "About Me";
  position: absolute;
  top: -18px;
  font-size: 24px;
  line-height: 32px;
  color: #169c65;
}

.projects::before {
  content: "Personal Projects";
  position: absolute;
  top: -26px;
  font-size: 24px;
  line-height: 32px;
  color: #169c65;
}

.experience::before {
  content: "Experience";
  position: absolute;
  top: -14px;
  font-size: 24px;
  line-height: 32px;
  color: #169c65;
  margin-top: 4px;
}

.brogrid {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
}

.company-name {
}

.time-location {
  /* line-height: 16px; */
  margin-left: 30px;
  width: fit-content;
}

.expericence-wrapper > article {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.expericence-wrapper > article:first-child {
  margin-top: 14px;
  background: rgb(0, 255, 38);
}

.ca, .cx {
  position: relative;
}

.ca::after{
  content: "";
  width: 2px;
  height: 88px;
  position: absolute;
  margin-left: -20px;
  background: #169c65;
  top: 21px;
  left: 0px;
}


.ca::before,.cx::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  margin-left: -22px;
  background: #169c65;
  top: 8px;
}

.dot::before{
  content: '';
  width: 4px;
  height : 4px;
  background: #169c65;
  position: absolute;
  border-radius: 50%;
  left: -10px;
  top: 8px;

}

@media screen and (min-width : 426px) {
  .ca::after{
    height: 67px !important;
  }
  
}

